$colors: (
    animation: (
        violet: #d9d9f1,
        light-green: #f0f9f3,
        light-yellow: #f7f5ef
    ),
    common: (
        white: #ffffff,
        violet: #7e70c1,
    ),
    heading: (
        primary: #081143,
        secondary:#da4379,
        b-light:#071553,
    ),
    green: (
        1:#f0f9f3,
        2:#9fcaac
    ),
    text: (
        body:#000,
        1:#000,
        2:#6c7182,
    ),
    theme: (
        1: #9fcaac,
        2: #F7F8F9,

    ),
    border: (
        1: #fff,
        2: #7e70c1,
    )
);
